src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" doc:name="MySQL Configuration"/>
    <flow name="GetFightsFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database" streaming="true">
            <db:parameterized-query><![CDATA[select * from american;]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="28cc25b0-da3d-453d-9e6c-063bf65144b0">
            <dw:input-payload doc:sample="sample_data\json_1.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
[{
	ID: payload.ID,
	code: payload.code1,
	departureDate: payload.takeOffDate,
	destination: payload.toAirport,
	emptySeats: payload.totalSeats,
	origin: payload.fromAirport,
	plane: {
		totalSeats: payload.seatsAvailable,
		type: payload.planeType
	} ++ payload.airlineName,
	price: payload.price
}]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="GetFlightsbyIDFlow">
        <db:select config-ref="MySQL_Configuration" streaming="true" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from american
where ID = #[flowVars.ID]]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="237503cf-1287-4daa-a4f6-ba7a71cef924">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
[{
	ID: payload.ID,
	code: payload.code1,
	departureDate: payload.takeOffDate,
	destination: payload.toAirport,
	emptySeats: payload.totalSeats,
	origin: payload.fromAirport,
	plane: {
		totalSeats: payload.seatsAvailable,
		type: payload.planeType
	} ++ payload.airlineName,
	price: payload.price
}]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="POST-americanFlow">
        <set-payload value="{&quot;message&quot;: &quot;Flight Added (But not really)&quot;}" doc:name="Set Payload"/>
    </flow>
</mule>
